{% extends 'EventosBundle::mibase.html.twig' %}
{% block contenido %}
    <h1>{{mensaje}}</h1>
{{fecha}}

<form action="{{ path('usuario_crear') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
{% endblock %}
