{% extends 'EventosBundle::mibasetabla.html.twig' %}
{% block title %}
    Accion Listar {{opcion}}
{% endblock %}
{% block barra_progreso_inscripcion %}
{% include 'EventosBundle::barras.html.twig'  %}
{% endblock %}
{% block tabla_usuarios %}
	{% if opcion == 'modificar' %}
		{% for item in usuarios %}
		    {{item.nombre}} {{item.apellidos}} <a href="{{path('usuario_opcion_update', {'id': item.id})}} ">modificar</a> <br>
		{% endfor %}
	{% elseif opcion == 'eliminar' %}
		{% for item in usuarios %}
		    {{item.nombre}} {{item.apellidos}} <a href="{{path('usuario_opcion_delet', {'id': item.id})}} ">modificar</a> <br>
		{% endfor %}
	{% else %}
		    <h4>opcion no valida</h4>
	{% endif %}

{% endblock %}
